<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <img src="<%= gif %>">
    <br>
    <br>
    <p><%= filesize %>MB</p>
    <a href="<%= gif %>" download>Download Gif</a>
  </body>
</html>